<p>user-list-child-child works!</p>
<!--<ng-container *ngIf="users_Result$ | async as users_Results">-->
<!--  <div *ngIf="users_Results.isLoading">IsLoading....</div>-->
<!--  <p *ngIf="users_Results.isError">Error...</p>-->

<!--  <ul *ngIf="users_Results.isSuccess">-->
<!--    <li *ngFor="let user of users_Results.data">-->
<!--      {{ user | json}}-->
<!--    </li>-->
<!--  </ul>-->
<!--</ng-container>-->
<ng-container *ngIf="todos_Result$ | async as todos_Result">
  user-list-child-child works TODOs last 5 items:
  <div *ngIf="todos_Result.isLoading">IsLoading....</div>
  <p *ngIf="todos_Result.isError">Error...</p>

  <ul *ngIf="todos_Result.isSuccess">
    <li *ngFor="let todo of todos_Result.data?.slice(-5)">
      {{ todo | json}}
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="posts_Result$ | async as posts_Result">
  <div *ngIf="posts_Result.isLoading">IsLoading....</div>
  <p *ngIf="posts_Result.isError">Error...</p>

  <ul *ngIf="posts_Result.isSuccess">
    <li *ngFor="let post of posts_Result.data?.slice(-5)">
      {{ post | json}}
    </li>
  </ul>
</ng-container>
